PORT=3000

MONGODB_URI=mongodb://localhost:27017/ARfusion

JWT_SECRET=

# Razorpay Test Mode
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

NODE_ENV=development

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-character-app-password
SMTP_FROM="ARFusion Commerce <your-email@gmail.com>"
